<!--TICScrubertemplate -->
<div id="TICScrubberControls">
	<div class='TICScrubberPlayPauseButton'>pause</div>
	<div id='TICScrubberSeekBar' class= 'meter'>
		<span class='liveProgressMeter' style="width: 0%"></span>
		<span class ='playheadProgressMeter'></span>
	</div>

	<div class='TICScrubberTimer'>0:00</div>
</div>