<video id="videoPlayerElement" style="max-height: 300px;">
	<source src="<%=url%>" >
</video>

<!--video controls -->

<div id="videoControls">
	<div class='videoPlayerPlayPauseButton'>play</div>
	<div id='videoPlayerSeekBar' class= 'meter'>
		<span class='liveProgressMeter' style="width: 66%"></span>
		<span class ='playheadProgressMeter'></span>
	</div>

	<div class='videoPlayerTimer'>0:00</div>
</div>
