<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h4 class="modal-title">Play from event</h4>
      </div>

<div class="modal-body">
How do you want to watch the video, or do you want to add it to the playlist?

</div>
<button type="button" class="btn" id="eventPlaybackButtonTelevision">Television</button>
<button type="button" class="btn" id="eventPlaybackButtonTablet">Tablet</button>
<%if(showPlaylistButton){%>
<button type="button" class="btn" id="eventPlaybackButtonAddToPlaylist">Add to Playlist</button>
<%}%>