<div id='blackoutForVideo'>

<div id="taggingButtonOverlay">
</div>
<video id="videoPlayerElement">
	<source src="<%=url%>" >
</video>
<!--video controls -->

<div id="videoControls" class='row'>
	<div class='videoPlayerPlayPauseButton'><img src='res/pause.png'/></div>
	<div id='videoPlayerSeekBar' class= 'meter'>
		<span class='liveProgressMeter' style="width: 0%"></span>
		<span class ='playheadProgressMeter'></span>
	</div>
<div class='videoPlayerTimer'>0:00</div>
<div class='videoPlayerFullscreenButton' ><img src='res/fullscreen.png'/></div>
</div>
</div>

<div id="loadingMask">
<img src= 'res/loading.gif'>
</div>
